{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="nes-container with-title is-centered formulario">
		<p class="title">Edit User</p>
		{{form(registration_form)}}
	</div>
{% endblock %}
