{% extends 'base.html.twig' %}

{% block title %}Registrer User
{% endblock %}

{% block body %}
	<div class="nes-container with-title is-centered formulario">
		<p class="title">Create new User</p>
		{{form(registration_form)}}
	</div>
{% endblock %}
